<article>
              
    <div class="card border-0 bg-transparent">
      <figure class="card-img-top mb-4 overflow-hidden bsb-overlay-hover">
        <a href="#!">
          <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="" alt="Living" [src]="product!.images[0] | url">
        </a>
      </figure>
      <div class="card-body m-0 p-0">
        <div class="entry-header mb-3">
          <ul class="entry-meta list-unstyled d-flex mb-3">
            <li class="d-inline-flex px-2 py-1 link-accent text-accent-emphasis bg-accent-subtle border border-accent-subtle rounded-2 text-decoration-none fs-7">
              {{product?.category?.name}}
            </li>
          </ul>
          <h2 class="card-title entry-title h4 m-0">
            {{product?.title}}
          </h2>
        </div>
      </div>
      <div class="card-footer border-0 bg-transparent p-0 m-0">
        <ul class="entry-meta list-unstyled d-flex align-items-center m-0">
          <li>
            <a class="fs-7 link-secondary text-decoration-none d-flex align-items-center" href="#!">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
              </svg>
              <span class="ms-2 fs-7">{{product?.creationAt | date}}</span>
            </a>
          </li>
          <li>
            <span class="px-3">&bull;</span>
          </li>
          <li>
            <a class="link-secondary text-decoration-none d-flex align-items-center" href="#!">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z"/>
              </svg>
              <span class="ms-2 fs-7">{{product?.price | currency: 'PEN': 'symbol' }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

</article>