<article>
              
    <div class="card animate__animated animate__animated animate__zoomIn p-2 d-flex flex-column justify-content-between">
      <a [routerLink]="['/home/product']" [queryParams]="{id: product.id}" class="text-decoration-none">
        <figure class="card-img-top">
          <image-component [src]="product!.images[0] | url" i_class="object-fit-cover rounded" [i_width]="{sizeWeb: '220rem', sizeMobile:'150rem'}"  [i_height]="{sizeWeb: '220rem' , sizeMobile:'150rem'}">
            
          </image-component>
          <image-carousel-component [ImageArray]="product!.images" i_class="object-fit-cover rounded" [i_width]="{sizeWeb: '220rem', sizeMobile:'150rem'}"  [i_height]="{sizeWeb: '220rem' , sizeMobile:'150rem'}">

          </image-carousel-component>
      </figure>
      <div class="card-body d-flex flex-column justify-content-center">
        <div class="entry-header">
          <ul class="entry-meta list-unstyled d-flex mb-1">
            <li class="d-inline-flex px-2 py-1 link-accent text-accent-emphasis bg-accent-subtle border border-accent-subtle rounded-2 text-decoration-none fs-7">
              {{product.category.name? product.category.name : 'Varios'}}
            </li>
          </ul>
          <h5 class="fw-bold card-title">
            {{product.title}}
          </h5>
        </div>
      </div>
      </a>
      <div class="card-footer border-0 bg-transparent d-flex flex-column justify-content-center">
        <div class="row">
          <div class="col-12 d-flex align-items-center">
            <!-- si es una oferta mostramos el color por defecto pero si no debe tener la clase text-success -->
            <span class="product-price-new text-secondary">{{'S/'+product.price}}</span>
            <span class="badge text-bg-danger ms-1" *ngIf="offer">-20%</span>
          </div>
          <div class="col-12">
            <!-- si es una oferta mostramos el color por defecto pero si no debe tener la clase text-success -->
            <span class="product-price-old text-decoration-line-through text-secondary">{{'S/'+ (product.price + 0.21*(product.price))}}</span>
         </div>
        </div>
      </div>
      <button-card  [iconLeft]="isAddedToShopCarIcon" (click)="addProductToShopCar(product)" [text]="isAddedToShopCar" class="mt-3 text-center animate__animated animate__fadeInUp"></button-card>
    </div>

</article>