<nav class="navbar navbar-expand-lg bsb-navbar bsb-navbar-hover bsb-navbar-caret bsb-tpl-navbar-sticky" data-bsb-sticky-target="#header">
    <div class="container">

      <a class="navbar-brand d-flex align-items-center" [routerLink]="['/home']">
        <svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem" fill="#001C3F" class="bi bi-bag-fill" viewBox="0 0 16 16">
          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
        </svg>
        <span class="fw-bold p-2 store-tittle">IzI Store</span>
      </a>

      @if(currentUser()?.role === 'customer'){
        <div class="d-lg-none d-block ms-auto">
          <app-shop-car/>
        </div>
      }




      <button class="navbar-toggler ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" #closeButtonNavbar></button>
        </div>
        <div class="offcanvas-body">
          @if(!currentUser()){
            <ul class="navbar-nav align-items-center justify-content-center ms-auto gap-2">
                <li class="nav-item" (click)="closeNavbar()">
                  <a class="btn bsb-btn-2xl btn-primary rounded-4" role="button" aria-current="page" [routerLink]="['/auth/login']">Iniciar Sesión</a>
                </li>
                <li class="nav-item" (click)="closeNavbar()">
                  <a class="btn bsb-btn-2xl btn-primary rounded-4" role="button" [routerLink]="['/auth/register']">Registrate</a>
                </li>
            </ul>

          }
          @else{
            @if(currentUser()?.role === 'admin'){
              <ul class="navbar-nav align-items-center justify-content-center ms-auto gap-2">
                <li class="nav-item" (click)="closeNavbar()">
                  <a class="btn btn-primary rounded-4" aria-current="page"  role="button" [routerLink]="['/home/secret']">
                    Administrar Productos
                  </a>
                </li>
                <li class="nav-item">
                  <div class="dropdown">
                    <button class="btn btn-primary rounded-4 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="d-inline ps-2">{{currentUser()?.name}}</span>
                    </button>
                    <ul class="dropdown-menu border border-0">
                      <li (click)="closeNavbar()" class="dropdown-item"> <a [routerLink]="['/auth/register']">Añadir administrador</a></li>
                      <li (click)="closeNavbar()" class="dropdown-item"> <a (click)="logout()">Cerrar Sesión</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            }
            @if(currentUser()?.role === 'customer'){
              <ul class="navbar-nav ms-auto gap-3">
                <li class="nav-item order-3 order-md-1">
                  <div class="dropdown">
                    <button class="btn btn-primary rounded-4 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categorias
                    </button>
                    <ul class="dropdown-menu overflow-auto border border-0">
                      @for(categorie of categories; track categorie){
                        <li class="dropdown-item" (click)="closeNavbar()">
                            <a class="dropdown-item" 
                            [routerLink]="['/home/store']"
                            [queryParams]="{category: categorie.id}"
                            >
                              {{categorie.name}} 
                            </a>
                        </li>
                      }
                    </ul>
                  </div>
                </li>
                <li class="nav-item order-2 order-md-2">
                  <button class="btn btn-primary rounded-4" aria-current="page"  role="button" (click)="closeNavbar()" [routerLink]="['/home/store']">
                    Tienda Online
                  </button>
                </li>
                <li class="nav-item d-lg-block d-none order-4">
                  <app-shop-car/>
                </li>
                <li class="nav-item order-1 order-md-3">
                  <div class="dropdown">
                    <button class="btn btn-primary rounded-4 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <span class="d-inline ps-2">{{currentUser()?.name}}</span>
                    </button>
                    <ul class="dropdown-menu border border-0">
                      <li (click)="closeNavbar()"> <a  [routerLink]="['/home/profile']" class="dropdown-item">Mi perfil</a></li>
                      <li (click)="closeNavbar()"> <a (click)="logout()" href="" class="dropdown-item">Cerrar Sesión</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            }
          }
        </div>
      </div>

    </div>
</nav>