<nav class="navbar navbar-expand-lg bsb-navbar bsb-navbar-hover bsb-navbar-caret bsb-tpl-navbar-sticky bg-white border-bottom border-light-subtle" data-bsb-sticky-target="#header">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
        </svg>
        Angular-Platzi Store
      </a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          @if(!currentUser()){
            <ul class="navbar-nav align-items-center justify-content-center ms-auto gap-2">
                <li class="nav-item">
                  <a class="btn bsb-btn-2xl btn-primary rounded-pill" role="button" aria-current="page" [routerLink]="['/auth/login']">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                  <a class="btn bsb-btn-2xl btn-primary rounded-pill" role="button" [routerLink]="['/auth/register']">Registrate</a>
                </li>
            </ul>

          }
          @if(currentUser() && currentUser()?.role === 'admin'){
            <ul class="navbar-nav align-items-center justify-content-center ms-auto gap-2">
              <li class="nav-item">
                <a class="btn btn-dark rounded-pill" aria-current="page"  role="button" [routerLink]="['/home/secret']">
                  Administrar Productos
                </a>
              </li>
              <li class="nav-item">
                <div class="dropdown">
                  <button class="btn btn-dark rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img [src]="currentUser()?.avatar" alt="profile_image" class="rounded-circle" width="30rem" height="30rem">
                    {{currentUser()?.name}}
                  </button>
                  <ul class="dropdown-menu">
                    <li> <a  href="#" class="dropdown-item">Mi perfil</a></li>
                    <li> <a [routerLink]="['/auth/register']" class="dropdown-item">Añadir administrador</a></li>
                    <li> <a (click)="logout()" href="" class="dropdown-item">Cerrar Sesión</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          }
          @if(currentUser() && currentUser()?.role === 'customer'){
            <ul class="navbar-nav align-items-center justify-content-center ms-auto gap-2">
              <li class="nav-item">
                <div class="dropdown">
                  <button class="btn btn-dark rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img [src]="currentUser()?.avatar" alt="profile_image" class="rounded-circle" width="30rem" height="30rem">
                    {{currentUser()?.name}}
                  </button>
                  <ul class="dropdown-menu">
                    <li> <a  href="#" class="dropdown-item">Mi perfil</a></li>
                    <li> <a (click)="logout()" href="" class="dropdown-item">Cerrar Sesión</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-primary position-relative">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                  </svg>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    99+
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
            </li>
            </ul>
          }
        </div>
      </div>
    </div>
</nav>