
@if(pages.length <= 5){
  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link"  aria-label="Previous" (click)="previousPage()">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        @for(page of pages; track page; let i = $index ){
          <li class="page-item" [ngClass]="{'active': (i+1) == currentPage}" [attr.aria-current]="(i+1) == currentPage ? 'page' : null">
            <span class="page-link" [routerLink]="[]" [queryParams]="{page: page}" [queryParamsHandling]="'merge'">{{i+1}}</span>
          </li>
        }
        <li class="page-item">
          <a class="page-link"  aria-label="Next" (click)="nextPage()">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
  </nav>
}
@else{
  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link"  aria-label="Previous" (click)="previousPage()">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        @if(currentPageIndex > 2){
          @for(offsetpage of pages.slice(0, 2); track offsetpage; let i = $index ){
            <li class="page-item" [ngClass]="{'active': offsetpage == offset}" [attr.aria-current]="offsetpage == offset ? 'page' : null">
              <span class="page-link" [routerLink]="[]" [queryParams]="{page: offsetpage}" [queryParamsHandling]="'merge'">{{pages.indexOf(offsetpage) + 1}}</span>
            </li>
          }
        }
        @if(currentPageIndex > 0){
          <li class="page-item">
            <span class="page-link" >...</span>
          </li>
        }
        @if(currentPageIndex + 5 >= pages.length){
          @for(offsetpage of pages.slice(pages.length - 5, pages.length); track offsetpage; let i = $index ){
            <li class="page-item" [ngClass]="{'active': offsetpage == offset}" [attr.aria-current]="offsetpage == offset ? 'page' : null">
              <span class="page-link" [routerLink]="[]" [queryParams]="{page: offsetpage}" [queryParamsHandling]="'merge'">{{pages.indexOf(offsetpage) + 1}}</span>
            </li>
          }
        }
        @else{
          @for(offsetpage of pages.slice(currentPageIndex, currentPageIndex + 5); track offsetpage; let i = $index ){
            <li class="page-item" [ngClass]="{'active': offsetpage == offset}" [attr.aria-current]="offsetpage == offset ? 'page' : null">
              <span class="page-link" [routerLink]="[]" [queryParams]="{page: offsetpage}" [queryParamsHandling]="'merge'">{{pages.indexOf(offsetpage) + 1}}</span>
            </li>
          }
        }
        @if(currentPageIndex + 5 < pages.length){
          <li class="page-item">
            <span class="page-link">...</span>
          </li>
        }
        @if(currentPageIndex + 2 < pages.length){
          @for(offsetpage of pages.slice(pages.length - 2, pages.length); track offsetpage; let i = $index ){
            <li class="page-item" [ngClass]="{'active': offsetpage == offset}" [attr.aria-current]="offsetpage == offset ? 'page' : null">
              <span class="page-link" [routerLink]="[]" [queryParams]="{page: offsetpage}" [queryParamsHandling]="'merge'">{{pages.indexOf(offsetpage) + 1}}</span>
            </li>
          }
        }
        <li class="page-item">
          <a class="page-link"  aria-label="Next" (click)="nextPage()">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
  </nav>
}