
  <section class="py-3 py-md-2 py-xl-8 bg-light">
  <!-- Banner  Component -->
    <div class="container">
      <home-banner [categories]="categories"/>
    </div>
  </section>

  <!-- Main -->
  <main id="main">

    <!-- Blog 5 - Bootstrap Brain Component -->
    <section class="bsb-blog-5 py-3 py-md-5 py-xl-8 bsb-section-py-xxl-1">

      <div class="container overflow-hidden p-3">
        <div class="row">
          <div class="col-12">
            <div class="entry-header mb-3">
              <h3 class="fw-bold">Productos en oferta</h3>
            </div>
           </div>
        </div>
        <home-carousel-products [products]="productsSorted"/>
      </div>

      <div class="container overflow-hidden p-3">
        <div class="row">
          <div class="col-12">
            <div class="entry-header mb-3">
              <h3 class="fw-bold">Nuevos productos</h3>
            </div>
           </div>
        </div>
        <home-carousel-products [products]="productsRecent"/>
        <div class="row pt-4">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <button class="btn btn-primary">
              Ver todos los productos
            </button>
          </div>
        </div>
      </div>
    </section>

  </main>