<main class="container">
    <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a [routerLink]="['/home']">Inicio</a></li>
              <li class="breadcrumb-item"><a  [routerLink]="['/home/store']" [queryParams]="{category:product!.category.id}">{{product?.category?.name}}</a></li>
              <li class="breadcrumb-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{product?.title | slice:0:20}}</li>
            </ol>
          </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-12">
                    <image-component [src]="product!.images[0] | url" i_class="object-fit-cover rounded" [i_width]="{sizeWeb: '500rem', sizeMobile: '350rem'}"  [i_height]="{sizeWeb: '500rem', sizeMobile: '350rem'}"></image-component>
                </div>
            </div>
            <div class="d-flex justify-content-center p-3">
                @for(image of product!.images; track image){
                    <div class="px-2">
                        <image-component [src]="image | url" i_class="object-fit-cover rounded" [i_width]="{sizeWeb: '100rem' , sizeMobile: '80rem'}"  [i_height]="{sizeWeb: '100rem' , sizeMobile: '80rem'}" ></image-component>
                    </div>
                }
            </div>
            
        </div>
        <div class="col-12 col-md-4">
            <h2 class="text-center">{{product?.title}}</h2>
            <p class="text-muted mb-1  text-center">{{product?.description}}</p>
            <p class="text-muted mb-4  text-center">{{product?.price}}</p>
        </div>
    </div>
</main>
