<div class="container-fluid px-4 justify-content-evenly d-none d-sm-block d-md-block">
    <div class="row">
<div class="col-md-3 col-sm-6">
    <div class="card  animate__animated animate__zoomIn p-2">
      <div class="card-body m-0">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col d-flex align-items-center justify-content-center">
            <image-component src="assets/delivery.svg" alt="Delivery gratuito" [i_width]="{sizeWeb: '120rem'}" [i_height]="{sizeWeb: '120rem'}" i_class="object-fit-cover rounded" ></image-component>
          </div>
          <div class="col">
            <h5 class="title-advantage-card">Delivery gratuito</h5>
            <p class="entry-summary text-secondary">Para compras mayores a S/100.00 en Lima</p>
          </div>
        </div>
      </div>
      <div class="card-footer border-0 bg-transparent p-0 m-0">
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card  animate__animated animate__zoomIn p-2">
      <div class="card-body m-0">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col d-flex align-items-center justify-content-center">
            <image-component src="assets/security.svg" alt="Compras seguras" [i_width]="{sizeWeb: '120rem'}" [i_height]="{sizeWeb: '120rem'}" i_class="object-fit-cover rounded" ></image-component>
          </div>
          <div class="col">
            <h5 class="title-advantage-card">Compras seguras</h5>
            <p class="entry-summary text-secondary">Todas las transacciones son encriptadas</p>
          </div>
        </div>
      </div>
      <div class="card-footer border-0 bg-transparent p-0 m-0">
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card  animate__animated animate__zoomIn p-2">
      <div class="card-body m-0">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col d-flex align-items-center justify-content-center">
            <image-component src="assets/customer_service.svg" alt="Atención 24/7" [i_width]="{sizeWeb: '120rem'}" [i_height]="{sizeWeb: '120rem'}" i_class="object-fit-cover rounded" ></image-component>
          </div>
          <div class="col">
            <h5 class="title-advantage-card">Atención 24/7</h5>
            <p class="entry-summary text-secondary" >Contáctanos en cualquier momento para ayudarte</p>
          </div>
        </div>
      </div>
      <div class="card-footer border-0 bg-transparent p-0 m-0">
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="card  animate__animated animate__zoomIn p-2">
      <div class="card-body m-0">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col d-flex align-items-center justify-content-center">
            <image-component src="assets/like.svg" alt="Garantía de satisfacción" [i_width]="{sizeWeb: '120rem'}" [i_height]="{sizeWeb: '120rem'}" i_class="object-fit-cover rounded" ></image-component>
          </div>
          <div class="col">
            <h5 class="title-advantage-card">Garantía de satisfacción</h5>
            <p class="entry-summary text-secondary">Si no quedas satisfecho, te devolvemos tu dinero</p>
          </div>
        </div>
      </div>
      <div class="card-footer border-0 bg-transparent p-0 m-0">
      </div>
    </div>
  </div>
</div>
</div>