<div class="offcanvas offcanvas-start w-25" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
    <div class="offcanvas-header">
        <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-0">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
            <li class="nav-item">
                <a href="#" class="nav-link text-truncate">
                    <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span>
                </a>
            </li>
            <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link text-truncate">
                    <i class="fs-5 bi-speedometer2"></i><span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
            </li>
            <li>
                <a href="#" class="nav-link text-truncate">
                    <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Orders</span></a>
            </li>
            <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fs-5 bi-bootstrap"></i><span class="ms-1 d-none d-sm-inline">Bootstrap</span>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="nav-link text-truncate">
                    <i class="fs-5 bi-grid"></i><span class="ms-1 d-none d-sm-inline">Products</span></a>
            </li>
            <li>
                <a href="#" class="nav-link text-truncate">
                    <i class="fs-5 bi-people"></i><span class="ms-1 d-none d-sm-inline">Customers</span> </a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row p-2 d-flex justify-content-center align-items-center">
          <div class="col-6 d-md-none">
            <button class="btn btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
              <i class="bi bi-funnel-fill"></i>
              Filtrar
            </button>
          </div>
          <div class="col-6 col-md-6">
            <select class="form-select" aria-label="Default select example">
              <option value="">Ordenar por</option>
              <option value="">Precio</option>
              <option value="">Nombre</option>
              <option value="">Categoria</option>
            </select>
          </div>
    </div>
    <div class="row">
        <div class="col-md-3 d-none d-md-block">
          <div class="card">
            <p class="card-header text-bg-primary">Categorias</p>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                @for(categorie of categories; track categorie){
                  <li class="list-group-item list-group-item-action categories-item" (click)="filterByCategory(categorie.id)" [ngStyle]="{'active': categorie.id === selectedCategory}">
                    {{categorie.name}}
                  </li>
                }
              </ul>
            </div>
          </div>
          <div class="card mt-3">
            <p class="card-header text-bg-primary">Precio</p>
            <div class="card-body">
              <label for="customRange2" class="form-label">Minimo</label>
              <input type="range" class="form-range" min="0" max="5" id="customRange2">
              <label for="customRange2" class="form-label">Maximo</label>
              <input type="range" class="form-range" min="0" max="5" id="customRange2">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-9 min-vh-100">
          <section class="bsb-blog-5">

              <div class="container overflow-hidden p-2">
                  <div class="row">
                    @for(item of products; track item){
                      <div class="col-6 col-md-6 col-sm-6 col-lg-4">
                        <home-product-card [product]="item" [offer]="true"/>
                      </div>
                    }
                </div>
              </div>
            </section>
        </div>
    </div>
</div>
