<article class="animate__animated animate__bounceInDown">
    <div class="card border-light-subtle">
      <div class="row d-flex align-items-center p-2">
        <div class="col-12 col-md-5 d-none d-sm-block d-md-block">
          <div class="card-body p-md-4 p-xl-6 p-xxl-9">
            <div class="entry-header mb-3">
              <h2 class="card-title entry-title display-3 fw-bold mb-4 lh-1">
                <a class="link-dark text-decoration-none" href="#!">Angular-Platzi Store</a>
              </h2>
            </div>
            <p class="card-text entry-summary text-secondary mb-4">
              Encuentra los mejores productos a los mejores precios, en Angular-Platzi Store.
            </p>
            <div class="alert alert-warning" role="alert">
              Este sitio web es un proyecto de aprendizaje, no se realizan compras reales.
            </div>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div id="carouselBanner" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for(categorie of categories; track categorie){
                    <div class="carousel-item" [ngClass]="{'active': $first}" data-bs-interval="4000">
                        <image-component  src="{{categorie.image| url}}" i_class="d-block w-100 object-fit-cover rounded animate__animated animate__zoomInRight" i_height="500rem"  />
                        <div class="carousel-caption bg-black rounded" style="--bs-bg-opacity: .5;" >
                            <h5>Encuentra lo mejor en la categoria</h5>
                            <p>{{categorie.name}}</p>
                        </div>
                    </div>
                }
            </div>
          </div>
        </div>
      </div>
    </div>
</article>