.card{
    color: var(--primary-color-8);
}
.alert{
    background-color: var(--primary-color-2);
    color: var(--primary-color-8);
}
.store-title{
    color: var(--primary-color-8);
}


:host {
    display: block;
}
