
<main class="container">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/home']">Inicio</a></li>
            <li class="breadcrumb-item"  [routerLink]="['/home/myshopcar']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Mi carrito</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-9 p-2 order-2 order-md-1">
            
            <div class="card">
                <div class="card-body ">
                    <h3 class="fw-bold">Carrito de compras <i class="bi bi-cart "></i></h3>
                    <hr>
                    <div class="shop-car-card">
                        @if(!isValidating()){
                            @if(products().length == 0){
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <h4 class="text-muted text-center mb-4">No hay productos en el carrito</h4>
                                    <a class="btn btn-primary text-center" [routerLink]="['/home/store']">Ir a la tienda</a>
                                </div>
                            }
                            @else{
                                @for(product of products(); track product){
                                    <div class="row py-3 px-2 align-items-center justify-content-center">
                                        <div class="col-md-3 col-6">
                                            <image-component [src]="product.product.images[0] | url" 
                                            i_class="object-fit-cover rounded" [i_width]="{sizeWeb: '120rem'}"  
                                            [i_height]="{sizeWeb: '120rem'}" [isAvailable]="product.isAvailable"/>
                                        </div>
                                        <div class="col-md-4 col-6">
                                            <p class="text-wrap m-0">{{product.product.title}}</p>
                                        </div>
                                        <div class="col-md-2 col-6">
                                            <p class="fw-bold text-wrap m-0 ">{{product.product.price | currency: 'PEN': 'symbol'}}</p>
                                        </div>
                                        <div class="col-md-3 col-6">
                                            @if(product.isAvailable){
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <button class="btn btn-secondary" (click)="removeProductFromShopCar(product.product)">
                                                        <i class="bi bi-dash"></i>
                                                    </button>
                                                    <span>{{product.quantity}}</span>
                                                    <button class="btn btn-secondary" (click)="addProductToShopCar(product.product)">
                                                        <i class="bi bi-plus"></i>
                                                    </button>
                                                    <button class="btn btn-danger" (click)="removeAllProduct(product.product)">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                </div>
                                            }
                                            @else{
                                                <div class="d-flex justify-content-around align-items-center">
                                                    <span class="text-danger text-center">No disponible</span>
                                                    <button class="btn btn-danger" (click)="removeAllProduct(product.product)">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
    
                            }
                        }
                        @else{
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <h4 class="fw-bold mt-4">Productos que no te puedes perder</h4>
            <home-carousel-products [products]="productsRecent" [hasHttpError]="hasHttpError" (retryLoadProducts)="loadProducts()" [isLoading]="suggestedProductsLoading"/>
            
        </div>
        <div class="col-12 col-md-3 p-2 order-1 order-md-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="fw-bold">Resumen <i class="bi bi-receipt"></i></h3>
                    <hr>
                    <p class="fw-bold mb-0">Numero de productos</p>
                    <p class="card-text"><span class="badge rounded bg-primary">{{products().length}}  productos</span></p>
                    <p class="fw-bold mb-0">Envio</p>
                    <p class="card-text"><span class="badge rounded bg-success">Envio gratis <i class="bi bi-truck"></i></span> </p>
                    <h5 class="card-subtitle mb-2 text-body-secondary">Subtotal {{total() | currency: 'PEN': 'symbol'}}</h5>
                    @if(products().length != 0){
                        <a class="btn btn-primary w-100 mt-2" [routerLink]="['/home/checkout']">Continuar compra</a>
                    }
                </div>
            </div>
        </div>
    </div>
  
  </main>
  