<article class="mt-2">
              
    <div class="card p-2">
      <figure class="card-img-top placeholder-glow">
        <span class="placeholder w-100"></span>
      </figure>
      <div class="card-body placeholder-glow">
        <div class="entry-header">
          <ul class="entry-meta list-unstyled d-flex mb-3">
            <li class="d-inline-flex px-2 py-1">
                <span class="placeholder w-100"></span>
            </li>
          </ul>
          <p class="fw-bold card-title">
            <span class="placeholder w-100"></span>
          </p>
        </div>
      </div>
      <div class="card-footer border-0 bg-transparent d-flex flex-column justify-content-center">
        <div class="row">
          <div class="col-12 d-flex align-items-center">
            <!-- si es una oferta mostramos el color por defecto pero si no debe tener la clase text-success -->
            <span class="placeholder w-100"></span>
            <span class="placeholder w-100"></span>
          </div>
          <div class="col-12">
            <!-- si es una oferta mostramos el color por defecto pero si no debe tener la clase text-success -->
            <span class="placeholder w-100"></span>
         </div>
        </div>
        <span class="placeholder w-100"></span>
      </div>
    </div>

</article>