<div class="home-layout">
  <header id="header" class="sticky-top bsb-tpl-header-sticky bsb-tpl-header-sticky-animationX">
    <home-navbar [categories]="categories"/>
    <ngx-loading-bar height="0.3rem" color="#001C3F" [includeSpinner]="false" [fixed]="false" ref="router"></ngx-loading-bar>
  </header>

  <router-outlet></router-outlet>

  <footer class="footer">

    <div class="py-3 py-md-5 py-xl-8 border-top border-light-subtle">
      <div class="container overflow-hidden">
        <div class="row gy-3 gy-md-5 gy-xl-0 align-items-sm-center">
          <div class="col-xs-12 col-sm-6 col-xl-3 order-1 order-xl-2">
            <ul class="nav justify-content-center justify-content-sm-end">
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/">
                  <i class="bi bi-facebook"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.twitter.com/">
                  <i class="bi bi-twitter"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/">
                  <i class="bi bi-instagram"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/">
                  <i class="bi bi-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </footer>

</div>
